
<div style="display: flex; width: 100%;height: 100vh;">
  <div style="width: 500px; height: 100%; position: absolute; top: 100px; background: rgba(0, 0, 0, 0.381); z-index: 99;">
  
    <button (click)="incrementScale()">Increase Scale</button>
    <button (click)="decrementScale()">Decrease Scale</button>
    <button (click)="changeModelSrc()">trees</button>
    <button (click)="changeModelSrc2()">mesh</button>
    <button (click)="changeModelSrc3()">cafee</button>
    <button (click)="changeColortOWHITE()">mesh</button>
    <app-color-picker  [color]="color"></app-color-picker>

  
  </div>
  <a-scene loading-screen="dotsColor: red; backgroundColor: black" embedded arjs = 'trackingMethod:best;' markerhandler>
    <a-assets>
      <a-asset-item id="current-model" [attr.src]="modelSrc"></a-asset-item>
      <img id="advertisement" src="/assets/ayo.png">
    </a-assets>
 <!-- <a-plane link="href: index.html; title: My Homepage; image: #advertisement" src="#advertisement"></a-plane> -->
  
    <a-marker-camera preset='hiro' >
   <a-entity #modelContainer></a-entity>
   <!-- <a-plane #test src="/assets/testt.png" position="0 0 0" rotation="-90 -0 0" width="4" height="4" color="#7BC8A4" event-set__enter="_event: mouseenter; color: #8FF7FF"
    event-set__leave="_event: mouseleave; color: #4CC3D9" ></a-plane> --> 
    </a-marker-camera>
    
  </a-scene>

 
</div>